::ng-deep .open_cv_dialog {
    max-width: 100% !important;
    position: relative !important;
}

.close_icon {
    z-index: 9999;
    position: absolute;
    top: 26px;
    right: 60px;
    transform: translate(50%, -50%);
    cursor: pointer;
    background: #f1f1f1;
}

pdf-viewer {
    width: 100%;
    display: block;
    height: 100%;
}