<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/p293.jpg" alt="Image" />
            </a>
          </div>
          <h1 class="h2 title">Mehul Patil</h1>
          <p class="category text-white">Software Engineer</p>
          <!-- <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Hire Me</a> -->
          <a class="btn btn-primary" (click)="download()" target="_blank" data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section row mr-0 pl-0">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon mr-1 ml-3" href="https://www.facebook.com/mehul.patil.software.engineer" target="_blank" rel="tooltip">
              <!-- title="Follow me on Facebook" -->
              <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon mr-1 ml-1" href="https://www.instagram.com/mehul___patil/" target="_blank" rel="tooltip">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon mr-1 ml-1" href="https://www.linkedin.com/in/mehul-patil-software-engineer" target="_blank" rel="tooltip">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon mr-1 ml-1" href="https://github.com/mehulpatilui" target="_blank" rel="tooltip">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon ml-1" href="https://twitter.com/mehul__patil" target="_blank" rel="tooltip">
              <!-- <i class="fa fa-twitter"></i> -->
              <svg viewBox="0 0 30 30" aria-hidden="true" class="social_icon" fill="rgb(255 255 255)">
                <g>
                  <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path>
                </g>
              </svg>
            </a>
            <!-- <a class="btn btn-default btn-round btn-lg btn-icon mr-1" href="#" target="_blank" rel="tooltip"
              title="Follow me on Google+">
              <i class="fa fa-google-plus"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
